html, body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
     padding-top: 50px;
}
a{
    -webkit-transition: color 0.4s;
    -moz-transition:    color 0.4s;
    -ms-transition:     color 0.4s;
    -o-transition:      color 0.4s;
    transition:         color 0.4s;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
header{
    padding: 100px 0;
/*    height: 100vh;*/
}

section {
    padding: 35px 0;
}
.format{
    font-size: 16px;
    color: #555;
    line-height: 1.45;
}
p{
    color: #4b555e;
    font-size: 16px;
    line-height: 1.6;

    text-align: justify;
    margin: 0 0 10px;
        display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3{
    color: #2d353c;
    line-height: 1.5;
    font-weight: bold;
}

h2:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px auto 20px;
    background: #ccc;
}
.sol{
    background-color: #2c2929;
     /* The image used */
/*    background-image: url('img/back.jpg');*/

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    margin-bottom: 0;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.navbar-inverse{
    background-color: black;
    transition:500ms ease;
}
.scrolled{
  background-color:#292f33;
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: #7D0A00;
}

h1{
/*    font-family: 'Montserrat',sans-serif;*/
    font-weight: 700;
    line-height: 1.3;
    color: white;
    text-transform: uppercase;
/*    letter-spacing: .08em;*/
}
.navbar-brand{
    color:#a94442;
}
.arrow-down{
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 4px solid #bc0b0b;
    border-bottom: 4px solid #bc0b0b;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    animation: 3s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50%{
        top: 80px;
    }
}


.lead{
    color:white;
    text-align: center;
}
.box{
    margin-bottom: 40px;
}

.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
    /* border: 2px solid black; */
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.name_card{
    margin: 5px;
    transition: all .2s ease-in-out;
}
.name_card:hover{
    transform: scale(1.1);
}
 .people_name{
/*  color: white;*/
} 

.people_heading{
    color: #a94442;
    font-size: 2.8rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    text-transform: capitalize;
}
.sub-heading{
    font-weight: 200;
}
.project_icon{
     padding: 30px 70px 0px 70px;
}
.section1{
    padding: 30px 30px 0px 30px;
}
.section2 h1{
    font-size:20px;
    color:#C1C1C1;
    margin:0px;
    border-bottom:2px solid #900;
    display: inline-block;
    padding: 10px 0px;
}
.section2 p{
    display: inline-block;
    font-weight: bold;
    color:black;
    padding: 2px 18px;
    margin-top: 10px; 
    margin-bottom: 0px;
    text-align: center;
    
}

.section3 p{
    font-size:14px;
    text-align: center;
    color: #777;
    line-height: 1.6;
    text-align: center;
    margin: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.custom-button{
    
    background-color: white;
    border: 2px solid #bcbcbc;
    color: grey;
    padding:  10px;
    width:  60%;
    margin:  auto;
    margin-top: 30px;
    border-radius:  3px;
    font-weight: 600;
    -webkit-transition: color 0.4s;
    -moz-transition:    color 0.4s;
    -ms-transition:     color 0.4s;
    -o-transition:      color 0.4s;
    transition:         color 0.4s;

}
.custom-button:hover{
    color: black;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.text {
  color: black;
  text-align: center;
  line-height: 1.2
}
.project_title{
  color: black;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .text {
        font-size: 15px;
    }
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

ul.nav a:hover { 
    border-bottom: 3px solid darkorange;
/*    color: #a94442 !important;*/
}

.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook{ /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter{ /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus{ /* round google plus icon*/
    background: #e64522;
}

.social .fa-github{ /* round github icon*/
    background: rgba(0,0,0,.5);
}

.social .fa-linkedin{ /* round linkedin icon*/
    background: #0094BC;
}
.social .fa:hover{
    background: #2f2f2f;
    color: white;
}
.publish_block{
    padding-top: 50px;
}
.push_margin_left{
  margin-left: 15px;
}
.advert{
  margin-top:20px;
}
